@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$font-family-heading: 'Comforter', cursive;
$font-family-text: 'Marck Script', cursive;
$base-text-color: #010101;
